.skills {
  min-height: 90vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: lavender;
  padding: 1rem;
}

.skills .skills-image-container img {
  width: 600px;
  max-width: 100%;
  object-fit: contain;
}
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.skills-container h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.skills-container img {
  width: 80px;
  display: inline-block;
  margin-right: 10px;
  object-fit: contain;
}
.languages-container {
  margin-bottom: 2rem;
  background: white;
  padding: 2rem;
  color: rgba(0, 0, 0, 0.734);
  border-radius: 10px;
}
.technologies-container{
  background: white;
  padding: 2rem;
  color: rgba(0, 0, 0, 0.734);
  border-radius: 10px;
}
.languages-container > div ,.technologies-container > div{
  display: flex;
  flex-wrap: wrap;
}



@media screen and (max-width: 600px) {
  .skills .skills-image-container img {
    display: none;
  }
  .skills-container img {
    width: 60px;
  }

}
